
<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Podcasts</h4>
              <p class="card-category">Thinkster
                  
              </p>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card-body">
                        <mat-accordion *ngIf='posts[0].length > 0'>
                                <mat-expansion-panel *ngFor='let post of posts[0]' >
                                  <mat-expansion-panel-header>
                                    {{post.title}}
                                  </mat-expansion-panel-header>
                                  
                                  
                                    <div class="iframe-container d-none d-lg-block">
                                            <iframe [src]='getUrl(post)' >
                                                <p>Your browser does not support iframes.</p>
                                            </iframe>
                                        </div>
                                </mat-expansion-panel>
                              </mat-accordion>
                          
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
